.launcher {
    * {
        font-family: Inter;
        font-weight: 500;
    }

    background-color: $base00;
    border-radius: $radius;

    .flat {
        padding: 15px;
        border: 1px solid $base01;
        border-radius: 4px;
    }

    .launcher-container {
        background-color: $base00;
        border-radius: $radius;
        padding: 15px;

        scrollable {
            all: unset;
            border-radius: $radius;

            .launcher-items {
                all: unset;

                .launcher-item {
                    all: unset;

                    @include space-between-x(15px);
                    transition: 0.3s;
                    -gtk-icon-shadow: none;
                    border-radius: $radius;
                    padding: 5px 10px;
                    margin: 3px 10px;


                    &:focus {
                        padding-left: 15px;
                        background-color: $base03;
                        color: $base00;
                    }

                    &:hover {
                        background-color: transparentize($base06, 0.6);
                        color: $base00;
                    }
                }
            }
        }
    }
}