.launcher {
    * {
        font-family: Inter;
        font-weight: 500;
    }

    background-color: $crust;
    border-radius: $radius;
    border: 2px solid $mantle;

    .flat {
        padding: 15px;
        border: 1px solid $mantle;
        border-radius: 4px;
        color: $text;
    }

    .launcher-container {
        background-color: $base;
        border-radius: $radius;
        padding: 15px;

        scrollable {
            all: unset;
            border-radius: $radius;

            .launcher-items {
                all: unset;
                

                .launcher-item {
                    all: unset;
                    color: $text;

                    @include space-between-x(15px);
                    transition: 0.3s;
                    -gtk-icon-shadow: none;
                    border-radius: $radius;
                    padding: 5px 10px;
                    margin: 3px 10px;


                    &:focus {
                        padding-left: 15px;
                        background-color: $crust;
                        color: $text;
                    }

                    &:hover {
                        background-color: $crust;
                        color: $text;
                    }
                }
            }
        }
    }
}