window.bar {
    border-bottom: 1px solid $accent;
    box-shadow: none;
    background-color: transparentize($bg, 0.3);
    color: $fg;

    .bar-box {
        padding: 10px 5px;
    }

    button {
        all: unset;
        background-color: transparent;

        &:hover label {
            background-color: transparentize($fg, 0.84);
            border-color: transparentize($accent, 0.8);
        }

        &:active label {
            background-color: transparentize($fg, 0.8)
        }
    }

    label {
        transition: 200ms;
        padding: 0 8px;
        margin: 2px;
        border-radius: $radius;
        border: 1pt solid transparent;
        color: $fg;
    }

    .workspaces {
        padding-top: 0.870em;
        padding-bottom: 0.870em;
        padding-left: 0.25em;
        padding-right: 0.25em;

        @include space-between-x(0.5em);

        .workspace {
            @include rounded-full;

            transition-property: min-width, background-color;
            transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
            transition-duration: 200ms;

            min-height: 0.45em;
            min-width: 0.6em;

            margin-bottom: -0.20em;
            margin-top: -0.20em;

            background-color: $fg;

            &.active {
                min-height: 0.6em;
                min-width: 1.8em;

                margin-bottom: -0.30em;
                margin-top: -0.30em;

                background-color: $accent;
            }
        }
    }

    .mpris {
        transition: 0.3s;
        padding: 2px 5px;
        border-radius: $radius;

        .mpris-cover {
            min-height: 1.2em;
            min-width: 1.2em;
            border-radius: 3px;
            background-position: center;
            background-size: contain;
            transition: 0.3s;
        }
    }

    .audio {
        icon {
            margin-right: .3em;
        }

        margin: 0 1em;

        trough {
            background-color: transparentize($fg, 0.8);
            border-radius: $radius;
        }

        highlight {
            background-color: $accent;
            min-height: .8em;
            border-radius: $radius;
        }

        slider {
            background-color: $fg;
            border-radius: $radius;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }

    .tray {
        @include space-between-x(0.5em);

        margin-left: 15px;
        margin-right: 2em;

        .tray-item {
            padding: 3px;
            border-radius: 8px;
        }
    }

    .command-center-access {
        transition: 0.3s;
        padding: 2px 5px;
        border-radius: $radius;

        &:hover {
            background-color: $accent;
        }
    }
}