window.bar {
    border-bottom: 2px solid $accent;
    box-shadow: none;
    background-color: transparentize($bg, 0.3);
    color: $fg;
    font-size: 1.1em;
    font-weight: bold;

    .bar-box {
        padding: 10px 5px;
    }

    button {
        all: unset;
        background-color: transparent;

        &:hover label {
            background-color: transparentize($fg, 0.84);
            border-color: transparentize($accent, 0.8);
        }

        &:active label {
            background-color: transparentize($fg, 0.8)
        }
    }

    label {
        transition: 200ms;
        padding: 0 8px;
        margin: 2px;
        border-radius: $radius;
        border: 1pt solid transparent;
    }

    .workspaces .focused label {
        color: $accent;
        border-color: $accent;
    }

    .mpris {
        transition: 0.3s;
        background-color: transparentize($bg, 0.8);
        padding: 2px 5px;
        border-radius: $radius;

        &:hover {
            background-color: $accent;
        }

        .mpris-cover {
            min-height: 1.2em;
            min-width: 1.2em;
            border-radius: $radius;
            background-position: center;
            background-size: contain;
            transition: 0.3s;
        }
    }

    .audio-slider {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        margin: 0 1em;

        trough {
            background-color: transparentize($fg, 0.8);
            border-radius: $radius;
        }

        highlight {
            background-color: $accent;
            min-height: .8em;
            border-radius: $radius;
        }

        slider {
            background-color: $fg;
            border-radius: $radius;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }

    .tray > .tray-item {
        margin: 0px 5px;
        padding: 3px;
        border-radius: 8px;
        transition: 0.3s;

        &:hover {
            background-color: $accent;
        }
    }

    .command-center-access {
        transition: 0.3s;
        background-color: transparentize($bg, 0.8);
        padding: 2px 5px;
        border-radius: $radius;

        &:hover {
            background-color: $accent;
        }
    }
}