window.desktop {
  background-color: rgba(0, 0, 0, 0);

  box {
    margin-top: to-rem(46px); // bar-height + 1px
    border-top-left-radius: to-rem(20px);
    border-top-right-radius: to-rem(20px);
    border-top: 2px solid $mauve;
    background-image: linear-gradient($crust, $base);
    padding: to-rem(20px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 250ms background-image;
  }
}